@import "~@nl-rvo/design-tokens/dist/index.css";
@import "~@nl-rvo/component-library-css/dist/index.css";
@import "~@nl-rvo/assets/fonts/index.css";
@import "~@nl-rvo/assets/icons/index.css";
@import "~@nl-rvo/assets/images/index.css";

.rvo-header {
  width: 100px;
  height: 100px;
  background-image: url("../img/mijnbureau.svg");
  background-size: cover;
  background-position: center;
}

.content {
  padding-block-start: var(--rvo-space-md);
  padding-block-end: var(--rvo-space-md);
  flex-grow: 1;
}

.mijn-bureau-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.rvo-card__image-container {
  height: 100%;
}

.chat-icon {
  background-image: var(--rvo-icon-tekstballonnen-met-punten);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.docs-icon {
  background-image: var(--rvo-icon-bewerken);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.meet-icon {
  background-image: var(--rvo-icon-beeldbellen);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.grist-icon {
  background-image: var(--rvo-icon-applicatie);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.vault-icon {
  background-image: var(--rvo-icon-hangslot-dicht);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.account-icon {
  background-image: var(--rvo-icon-user);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.ai-assistant-icon {
  background-image: var(--rvo-icon-half-tandwiel-half-brein);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.files-icon {
  background-image: var(--rvo-icon-map);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
