<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      defer
      data-domain="portal.la-suite.apps.digilab.network"
      src="https://plausible.la-suite.apps.digilab.network/js/script.js"
    ></script>
    <title>Mijn Bureau</title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body class="rvo-theme mijn-bureau-container">
    <header class="rvo-header"></header>
    <div class="rvo-topnav__background rvo-topnav__background--horizontal-rule">
      <div
        class="rvo-max-width-layout rvo-max-width-layout--md rvo-min-width-layout--sm rvo-max-width-layout-inline-padding--md"
      >
        <nav class="rvo-topnav rvo-topnav--md">
          <ul class="rvo-topnav__list">
            <li class="rvo-topnav__item">
              <a class="rvo-link rvo-topnav__link rvo-link--logoblauw" href="/">
                <span
                  class="utrecht-icon rvo-icon rvo-icon-home rvo-icon--md rvo-icon--wit"
                  role="img"
                  aria-label="Home"
                ></span>
                Home
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <main class="content">
      <div
        class="rvo-max-width-layout rvo-max-width-layout--md rvo-min-width-layout--sm"
      >
        <div
          class="rvo-alert rvo-alert--info rvo-alert--padding-md"
          data-alert-id="index-poc-alert"
        >
          <span
            class="utrecht-icon rvo-icon rvo-icon-info rvo-icon--xl rvo-status-icon-info"
            role="img"
            aria-label="Info"
          ></span>
          <div class="rvo-alert-text">
            <strong>Proof of Concept</strong>
            <div>
              <div>
                Dit systeem is nog in ontwikkeling. Er zijn geen garanties dat
                de data veilig blijft of bewaard blijft.
              </div>
            </div>
          </div>
          <button
            class="utrecht-button utrecht-button--subtle rvo-button__close utrecht-button--rvo-md"
            type="button"
            aria-label="Sluiten"
          >
            <span
              class="utrecht-icon rvo-icon rvo-icon-kruis rvo-icon--md rvo-icon--hemelblauw"
              role="img"
              aria-label="Kruis"
            ></span>
          </button>
        </div>
      </div>
      <div
        class="rvo-max-width-layout rvo-max-width-layout--md rvo-min-width-layout--sm rvo-max-width-layout-inline-padding--md"
      >
        <h1 class="utrecht-heading-1">Mijn Bureau</h1>
        <div
          class="rvo-layout-grid rvo-layout-gap--md rvo-layout-grid-columns--two"
        >
          <div
            class="rvo-card rvo-card--with-image rvo-card--with-image-sm rvo-card--outline rvo-card--padding-sm"
          >
            <div class="rvo-card__image-container">
              <div class="chat-icon rvo-card__image"></div>
            </div>
            <div class="rvo-card--with-link-indicator">
              <div class="rvo-card__content">
                <h3 class="utrecht-heading-3">
                  <a
                    class="rvo-link rvo-card__link rvo-card__full-card-link"
                    href="https://chat.la-suite.apps.digilab.network/"
                    target="_blank"
                  >
                    Chat
                  </a>
                </h3>
                Chatten met collega's
              </div>
            </div>
          </div>
          <div
            class="rvo-card rvo-card--with-image rvo-card--with-image-sm rvo-card--outline rvo-card--padding-sm"
          >
            <div class="rvo-card__image-container docs-icon"></div>
            <div class="rvo-card--with-link-indicator">
              <div class="rvo-card__content">
                <h3 class="utrecht-heading-3">
                  <a
                    class="rvo-link rvo-card__link rvo-card__full-card-link"
                    href="https://docs.la-suite.apps.digilab.network/"
                    target="_blank"
                  >
                    Docs
                  </a>
                </h3>
                Gezamelijk notities maken
              </div>
            </div>
          </div>
          <div
            class="rvo-card rvo-card--with-image rvo-card--with-image-sm rvo-card--outline rvo-card--padding-sm"
          >
            <div class="rvo-card__image-container meet-icon"></div>
            <div class="rvo-card--with-link-indicator">
              <div class="rvo-card__content">
                <h3 class="utrecht-heading-3">
                  <a
                    class="rvo-link rvo-card__link rvo-card__full-card-link"
                    href="https://meet.la-suite.apps.digilab.network/"
                    target="_blank"
                  >
                    Meet
                  </a>
                </h3>
                Video bellen
              </div>
            </div>
          </div>
          <div
            class="rvo-card rvo-card--with-image rvo-card--with-image-sm rvo-card--outline rvo-card--padding-sm"
          >
            <div class="rvo-card__image-container grist-icon"></div>
            <div class="rvo-card--with-link-indicator">
              <div class="rvo-card__content">
                <h3 class="utrecht-heading-3">
                  <a
                    class="rvo-link rvo-card__link rvo-card__full-card-link"
                    href="https://grist.la-suite.apps.digilab.network/"
                    target="_blank"
                  >
                    Grist
                  </a>
                </h3>
                Spreadsheets
              </div>
            </div>
          </div>
          <div
            class="rvo-card rvo-card--with-image rvo-card--with-image-sm rvo-card--outline rvo-card--padding-sm"
          >
            <div class="rvo-card__image-container vault-icon"></div>
            <div class="rvo-card--with-link-indicator">
              <div class="rvo-card__content">
                <h3 class="utrecht-heading-3">
                  <a
                    class="rvo-link rvo-card__link rvo-card__full-card-link"
                    href="https://vault.la-suite.apps.digilab.network"
                    target="_blank"
                  >
                    Vault
                  </a>
                </h3>
                Password manager
              </div>
            </div>
          </div>
          <div
            class="rvo-card rvo-card--with-image rvo-card--with-image-sm rvo-card--outline rvo-card--padding-sm"
          >
            <div class="rvo-card__image-container ai-assistant-icon"></div>
            <div class="rvo-card--with-link-indicator">
              <div class="rvo-card__content">
                <h3 class="utrecht-heading-3">
                  <a
                    class="rvo-link rvo-card__link rvo-card__full-card-link"
                    href="https://ai-assistant.la-suite.apps.digilab.network"
                    target="_blank"
                  >
                    AI Assistant
                  </a>
                </h3>
                Praat met je AI Assistant
              </div>
            </div>
          </div>
          <div
            class="rvo-card rvo-card--with-image rvo-card--with-image-sm rvo-card--outline rvo-card--padding-sm"
          >
            <div class="rvo-card__image-container account-icon"></div>
            <div class="rvo-card--with-link-indicator">
              <div class="rvo-card__content">
                <h3 class="utrecht-heading-3">
                  <a
                    class="rvo-link rvo-card__link rvo-card__full-card-link"
                    href="https://id.la-suite.apps.digilab.network/realms/lasuite/account"
                    target="_blank"
                  >
                    Account
                  </a>
                </h3>
                Account gegevens
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="rvo-footer-bg">
      <footer class="utrecht-page-footer rvo-footer rvo-footer--md">
        <div class="rvo-footer__primary-menu-container">
          <div class="rvo-footer-column">
            <h3 class="rvo-footer-menu-title utrecht-heading-3">Mijn Bureau</h3>
            <ul class="rvo-footer-menu">
              <li class="rvo-footer-menu-item">
                <a
                  class="rvo-link rvo-link--with-icon rvo-link--no-underline"
                  href="https://github.com/MinBZK/mijn-bureau/blob/main/openbsw/team.md"
                  target="_blank"
                >
                  <span
                    class="utrecht-icon rvo-icon rvo-icon-delta-naar-rechts rvo-icon--sm rvo-icon--wit rvo-link__icon--before"
                    role="img"
                    aria-label="Delta naar rechts"
                  ></span>
                  Over ons
                </a>
              </li>
              <li class="rvo-footer-menu-item">
                <a
                  class="rvo-link rvo-link--with-icon rvo-link--no-underline"
                  href="mailto:opensource@minbzk.nl"
                >
                  <span
                    class="utrecht-icon rvo-icon rvo-icon-delta-naar-rechts rvo-icon--sm rvo-icon--wit rvo-link__icon--before"
                    role="img"
                    aria-label="Delta naar rechts"
                  ></span>
                  Contact
                </a>
              </li>
            </ul>
          </div>
          <div class="rvo-footer-column">
            <h3 class="rvo-footer-menu-title utrecht-heading-3">
              Help ons verbeteren
            </h3>
            <ul class="rvo-footer-menu">
              <li class="rvo-footer-menu-item">
                <a
                  class="rvo-link rvo-link--with-icon rvo-link--no-underline"
                  href="https://github.com/search?q=topic%3Amijn-bureau+org%3AMinBZK&type=Repositories"
                  target="_blank"
                >
                  <span
                    class="utrecht-icon rvo-icon rvo-icon-delta-naar-rechts rvo-icon--sm rvo-icon--wit rvo-link__icon--before"
                    role="img"
                    aria-label="Delta naar rechts"
                  ></span>
                  Github Repositories
                </a>
              </li>
              <li class="rvo-footer-menu-item">
                <a
                  class="rvo-link rvo-link--with-icon rvo-link--no-underline"
                  href="https://github.com/orgs/MinBZK/projects/22"
                  target="_blank"
                >
                  <span
                    class="utrecht-icon rvo-icon rvo-icon-delta-naar-rechts rvo-icon--sm rvo-icon--wit rvo-link__icon--before"
                    role="img"
                    aria-label="Delta naar rechts"
                  ></span>
                  Rapporteer issues±
                </a>
              </li>
              <li class="rvo-footer-menu-item">
                <a
                  class="rvo-link rvo-link--with-icon rvo-link--no-underline"
                  href="https://plausible.la-suite.apps.digilab.network/portal.la-suite.apps.digilab.network"
                  target="_blank"
                >
                  <span
                    class="utrecht-icon rvo-icon rvo-icon-delta-naar-rechts rvo-icon--sm rvo-icon--wit rvo-link__icon--before"
                    role="img"
                    aria-label="Delta naar rechts"
                  ></span>
                  Statistieken
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="rvo-footer__payoff">Beter samenwerken!</div>
      </footer>
    </div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
